@font-face {
    font-family: 'KhmerOSKoulen';
    src: url('../fonts/KhmerOSKoulen.eot');
    src: local('☺'), url('../fonts/KhmerOSKoulen.woff') format('woff'), url('../fonts/KhmerOSKoulen.ttf') format('truetype'), url('../fonts/KhmerOSKoulen.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhmerOSBattambang-Regular';
    src: url('../fonts/KhmerOSBattambang-Regular.eot');
    src: local('☺'), url('../fonts/KhmerOSBattambang-Regular.woff') format('woff'), url('../fonts/KhmerOSBattambang-Regular.ttf') format('truetype'), url('../fonts/KhmerOSBattambang-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.eot');
    src: local('☺'), url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf') format('truetype'), url('../fonts/MinionPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhmerOSBattambang-Bold';
    src: url('../fonts/KhmerOSBattambang-Bold.eot');
    src: local('☺'), url('../fonts/KhmerOSBattambang-Bold.woff') format('woff'), url('../fonts/KhmerOSBattambang-Bold.ttf') format('truetype'), url('../fonts/KhmerOSBattambang-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Verdana, KhmerOSBattambang-Regular;
    background: #F5F5F5;
    color: #5A6351;
    font-size: 14px;
    line-height: 1.9;
}
h1, h2, h3, h4, h5 {
  font-family: Verdana, KhmerOSBattambang-Regular !important;
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default{
    border: none;
}
.navbar-bg{
    background: #d76a1c;
}
.navbar-bg a{
    color: white !important;
}
.navbar-bg a{
    color: white !important;
}
.navbar-bg ul.dropdown-menu a{
    color: white !important;
}
.navbar-nav > .open > a{
    background: #e96202 !important;
}
.navbar-nav > .open > a:hover{
    background: #e96202 !important;
    color: black !important;
}
.dropdown-menu > li > a{
    background: #e96d14 !important;
}
.navbar-nav > li > a:hover, .dropdown-menu > li > a:hover {
    background: #e96202 !important;
}

.login-register{
    font-size: 18px;
}

.table{
    margin-top: 7px;
}

/*==== Account ====*/
.account-bg{
    background-color: white;
}
.footer-bg{
    color: black;
    padding: 15px 0 15px 81px;
    text-align: center;
    font-weight: bold;
}
@media (max-width: 650px) {
    .footer-bg{
        padding: 15px 0;
    }
}
.breadcrumb{
    border-radius: 0;
    margin-bottom: 13px;
}
.nav > li.language > a{
    display: inline-block;
    padding: 12px 6px 12px 6px;
}

/*=============
=    Step     =
===============*/
ul.nav-wizard {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    margin: 0 0px;
}
ul.nav-wizard:before {
    position: absolute;
}
ul.nav-wizard:after {
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 138px;
    height: 47px;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    z-index: 11;
    content: " ";
}
ul.nav-wizard li {
    position: relative;
    float: left;
    height: 46px;
    display: inline-block;
    text-align: center;
    padding: 0 20px 0 30px;
    margin: 0;
    font-size: 16px;
    line-height: 46px;
}
ul.nav-wizard li a {
    color: #428bca;
    padding: 0;
}
ul.nav-wizard li a:hover {
    background-color: transparent;
}
ul.nav-wizard li:before {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #d4d4d4;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -16px;
}
ul.nav-wizard li:after {
    position: absolute;
    display: block;
    border: 24px solid transparent;
    border-left: 16px solid #f1f1f1;
    border-right: 0;
    top: -1px;
    z-index: 10;
    content: '';
    right: -15px;
}
ul.nav-wizard li.active {
    color: #3a87ad;
    background: #dedede;
}
ul.nav-wizard li.active:after {
    border-left: 16px solid #dedede;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
    color: #989898;
    background: #dedede;
}
ul.nav-wizard .active ~ li {
    color: #999999;
    background: #f9f9f9;
}
ul.nav-wizard .active ~ li:after {
    border-left: 16px solid #f9f9f9;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
    color: #999999;
    background: #f9f9f9;
}
ul.nav-wizard.nav-wizard-backnav li:hover {
    color: #468847;
    background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
    border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
    color: #468847;
    background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
    color: #999999;
    background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
    border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
    color: #999999;
    background: #ededed;
}

.tab-content{
    padding-top: 25px;
}
.container .wizard{
    padding-top: 20px;
}

.requredStar{
    color: #FF0000;
}

.photoViewIndex{
    margin: 0;
    padding: 0;
    height: 30px;
}
.companyHeader h3{
    padding: 10px;
    text-align: center;
    background-color: #337AB7;
    color: #FFFFFF;
}
.companyLogo{
    border-radius: 8px;
}
.profile-info{
    line-height: 1.8em;
}

.fieldset-table{
  padding-left: 15%;
  padding-right: 15%;
  margin: 0 auto;
}
.fieldset-table-post > .dl-horizontal{
  /*margin-bottom: 10px;*/
}

.cover-fieldset-table .fieldset-table{
    margin: 0 auto;
    max-width: 80%;
}

#step1 span.isRequired, #step1 span.invalidEmail, #step1 span.minPassword, #step1 span.notMatchPassword, #step1 span.phoneIsNumber,
#step2 span.isRequired{
    color: #A91F22;
    display:none;
}

.divMoreExperience{
    border: solid 2px #DEDEDE;
    margin: 0 0 10px 0;
    padding: 20px 15px 5px 15px;
}

/*==== Home Page =====*/
.container #searchHome{
    background: #496EAE;
    padding: 10px 10px 30px 10px;
    color: #ffffff;
}

.container #searchHome span{
    font-size: 18px;
    padding: 0 7px 0 25px;
}

.container #searchHome .form-control{
    display: inline-block;
}
.container #searchHome button{
    width: 100%;
    margin: 4px 0;
}

.paddingTop{
    background: white;
    padding-top: 15px;
}
.frmLeftSearch span{
    font-weight: bold;
    display: block;
    padding: 6px 0;
}
.frmLeftSearch button{
    width: 100%;
}
.noPadding .pagination{
    margin: 0;
}
/*===== Navbar ====*/
#app-layout .navbar{
    min-height: 110px;
}
.container .navbar-header img{
    height: 100px;
    margin-top: 5px;
}
@media (min-width: 650px) {
    #app-navbar-collapse .navbar-nav{
        padding-top: 40px;
    }
}
/*=====End Navbar ====*/
#app-layout .navbar-header .navbar-toggle{
    margin-top: 60px;
}
.main-job-title{
    padding-left: 30px;
    padding-right: 10px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: -15px;
}
dl {
    margin-top: 0;
    margin-bottom: 13px;
}

.btn-orange {
    border: 1px solid #d07300;
    background: -moz-linear-gradient(#ffaf4b, #ff920a);
    background: -webkit-gradient(linear, left top, left bottom,from(#ffaf4b), to(#ff920a));
    background: #ff920a\0;
}
.p30 {
    padding-left: 30px;
    padding-right: 30px;
}
.noteSize {
    color: #ff5575;
}
div.col-md-2.padding0{
    padding:0;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/*== Menu from left to right==*/
.navbar-right .dropdown-menu{
    left: 0;
}
.navbar-default .dropdown-menu{
    background-color: #E96202;
}
.navbar-bg ul.dropdown-menu li:first-child{
    margin-top: 8px;
}
.postjob-index{
    width: 95px;
    height: 36px;
}
.padding-top-10 {
    padding-top: 10px;
}
.padding-right-zero{
    padding-right: 0;
}
.padding-zero {
    padding: 0;
}
.bg2{
    background-color: #FFFFFF;
}
.padding-left-dl-horizontal {
    padding-left: 30px;
}
@media (max-width: 500px) {
    .choosePicture {
        display: none;
    }
}
.checkbox-inline > input, .checkbox > label > input {
    margin-top: 7px;
}
.fieldset_style {
    padding: 0;
}
.txtOther{
    margin-top: 5px;
}
.ezecom_footer{
    margin-top: 20px;
    text-align: right;
}
.ezecom_footer a{
    color: #fff;
    text-decoration: none;
}
.postjob-paddig-bottom{
    padding-bottom: 15px;
}
.postjob-paddig-left{
    padding-left: 30px;
}
.padding-numberOf{
    padding-top: 15px;
}
.margin-to-bottom-company{
    margin: 25px 0px 5px 0px;
    font-size: large;
}
.margin-list-item-company{
    margin-left: 20px;
}