.body-apply{
    background: #fff;
    width: 100%;
    height: auto;
    text-align: left !important;
}
.body-apply{
    color: #0f0f0f;
}
.body-apply h1,
.body-apply h2,
.body-apply h3,
.body-apply h4,
.body-apply h5,
.body-apply p{
    color: #0f0f0f;
}
.apply-title{
    border: 1px solid #eee;
    width: 100%;
    background: #eee;
}
.apply-company-name{
    color: #847f7f !important;
}
.apply-job-detail{
    font-size: 14px;
}
.apply-info-detail{
    font-size: 16px;
}
.apply-experience{
    margin-bottom: 7px !important;
    background: #f5f5f5;
}
.apply-send-application{
    background: #ff9cd4;
}
.apply-cv{
    margin-bottom: 7px;
}
.apply-for{
    font-size: 13px;
    text-align: center;
    color: #c0c0c0;
    font-weight: bold;
    padding: 7px 5px;
    width: 50%;
    border: none;
    border-radius: 4px;
}
.apply-for-active{
    background: #6d6363;
    color: #fff;
}
.apply-for-row{
    cursor: pointer;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 7px;
    display: inline-flex;
}
.apply-icon-active{
    float: left;
    margin-top: 3px;
    color:#fff;
}