@import 'https://fonts.googleapis.com/css?family=Hanuman|Open+Sans';
@import '/css/loader.css';
body {
  background-color: #fff;
  padding-top: 106px;
}
body.bgImage_g {
  background: url('/images/header_bg_jobseeker_small.jpg') fixed no-repeat;
  /*background-size: contain;*/
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
  background-color: transparent;
}
.header-1 {
  background: url('/images/header_bg_1.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: transparent;
}
.header-2 {
  background: url('/images/header_bg_2.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-color: transparent;
}
body.bgImage .navbar-bg,
body.bgImage .container-fluid .row#searchHome {
  background-color: transparent !important;
}
body,
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', 'Hanuman' !important;
}
/*h1, h2, h3, h4, h5 {
    font-family: Verdana, KhmerOSBattambang-Regular !important;
}*/
.navbar-bg {
  background: #566ab0;
}
.navbar-bg a.brand-img {
  margin-left: 10px;

}
.navbar-bg a.brand-img img {
  padding: 15px 0;

  /*-webkit-filter: drop-shadow(1px 1px 12px #fff);
  -o-filter: drop-shadow(1px 1px 12px #fff);
  filter: drop-shadow(1px 1px 12px #fff);*/
}
.navbar-default .navbar-nav.navbar-left>li>a {
  margin-left: 20px;
}
.navbar-default .navbar-nav li a {
  font-size: 18px;
  /*background: #7787be;*/
  /*border: 1px solid #fff;*/
  /*border-radius: 3px;
  margin-left: 2px;
  margin-right: 2px;*/
  background-color: rgba(255, 255, 255, 0.10) !important;
}
.navbar-default .dropdown-menu>li>a,
.navbar-default .dropdown-menu>li>a:focus {
  font-size: 18px;
}

.navbar-default .navbar-nav .dropdown-menu li a {
  background-color: #3f4f82 !important;
}
.navbar-bg ul.dropdown-menu li:first-child {
  margin-top: 0;
}

.navbar-default .navbar-nav .dropdown-menu li a:hover,
.navbar-default .navbar-nav .dropdown-menu li a:focus {
  background-color: rgba(255, 255, 255, 0.10) !important;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.dropdown-menu > li > a {
  /*background-color: #3f4f82 !important;*/
  background-color: rgba(255, 255, 255, 0.30) !important;
  color: #fff !important;

}
/*
.navbar-default .dropdown-menu {
  background-color: #3f4f82 !important;
}*/
.navbar-default .navbar-nav .dropdown-menu {
  width: 220px;
  background-color: #3f4f82 !important;
  left: inherit;
}
.nav > li.language > a {
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid .row#searchHome {
  background-color: #5369ae;
  padding: 20px 0 50px;
  color: #fff;
}

/*.container .navbar-header {
  float: left;
}

.collapse.navbar-collapse {
  float: right;
}
.collapse.navbar-collapse::after {
  content: '';
  clear: both;
}*/

/*.container .navbar-header a.brand-img /* img */ {
  /*position: absolute;*/
  /*left: 0;*/
  /*background: white;*/
  margin-left: 0;
  top: 5px;
  padding-left: 20px;
  padding-right: 20px;
}*/

.container-fluid .row#searchHome .textlabel {
  font-size: 22px !important;
}
.container-fluid .row#searchHome .textlabel,
.container-fluid .row#searchHome .form-control{
  font-size: 18px;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #3f4f82;
  border-color: #004b63;
}
.container-fluid .row #btn-submit {
  text-align: center;
}
.container-fluid .row #btn-submit button.btn {
  width: 256px;
  font-size: 28px;
}
.container-fluid .row #btn-submit button.btn .fa {
  margin-right: 10px;
}
#app-layout .navbar {
  width: 100%;
}
#app-layout .navbar,
#app-layout .navbar .container {
  min-height: 85px !important;
}
#app-navbar-collapse .navbar-nav {
  /*padding-top: 10px !important;*/
  padding-top: 30px !important;
  margin-right: 0;
}

#app-layout .container .row.bg2 {
  background-color: transparent !important;
}
#app-layout .container .row.bg2 .panel .panel-heading {
  font-size: 22px;
  /*color: #ffffff;*/
  /*background-color: #5369ae;*/
  padding: 0 20px;

}
#app-layout .container .row.bg2 .panel .panel-heading .fa {
  margin-right: 10px;
}
#app-layout .container .row.bg2 .panel .panel-body a {
  font-size: 18px;
  color: #5369ae;
  /*font-weight: bold;*/
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 3px;
  text-align: center;
}
#app-layout .container .row.bg2 .panel .panel-body a:hover {
  color: #3f4f82;
}

#app-layout .container .row.bg2 .categoryList a{
  color: #566ab0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 95%;
  font-size: 16px !important;
}

/*#app-layout .employerSection {
  min-height: 1000px;
}
#app-layout .employerSection .feature {

}
#app-layout .employerSection .feature .feature-title {
  text-align: center;
  color: #000;
  padding-top: 40px;
  padding-bottom: 100px;
}
#app-layout .employerSection .feature .feature-item {
  text-align: center;
  color: #000;
  font-size: 18px;
}
#app-layout .employerSection .feature .feature-item .fa {
  display: block;
  margin-bottom: 20px;
  font-size: 48px;
}*/

.btn-social.btn-facebook {
  background: #3d5997;
  color: #fff;
  display: block;
}
.btn-social.btn-facebook .fa-facebook-official{
  padding-right: 10px;
}

.panel-body .companyName {
  text-transform: uppercase;
  font-size: 72px;
  margin: 0 auto;
  /*margin-top: 10px;*/
  padding: 10px 2px 0 0;
  color: #566ab0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  width: 85%;
}

.breadcrumb {
  border-left: 0;
  border-right: 0;
}
.breadcrumb li{
  font-size: 22px;
}

.account-bg {
  min-height: 600px;
}

#app-layout .text-left.panel-body table th,
#app-layout .text-left.panel-body table td {
  font-size: 18px;
}

.marginTop {
  margin-top: 20px;
}

#app-navbar-collapse .navbar-nav {
  padding-top: 32px;
}


.footer-navbar {
  background-color: #5369ae !important;
  color: #fff !important;
}
.bgImage_g .footer-navbar {
  margin-top: 30px;
}

.footer-navbar .footer-navbar-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-navbar ul {
  list-style: none;
  padding-left: 0;
}

.footer-navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-navbar ul li a:hover,
.footer-navbar ul li a:focus,
.footer-navbar ul li a:active {
  color: #97b0ff !important;
}

.footer-navbar h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

#formRegister > div.tab-content {
  border: 1px solid #dddddd;
  border-top: 0;
  margin-bottom: 60px;
}

#jobDetail .social-share {
  display: inline;
  /*border-left: 2px solid #999;*/
  /*margin-left: 20px;*/
  /*padding-left: 20px;*/
}

#jobDetail .btn-apply {
  /*height: 29px;*/
  height: 45px;
  padding: 12px 12px;
  /*margin: 0px 0px 0px -1px;*/
  border-radius: 3px;
  /*font-weight: bold;*/
  width: 100%;
}
#jobDetail .btn-apply.lg {
  padding: 6px 0px;
  height: 45px;
  /*margin-left: 45px;*/
  /*margin-right: 45px;*/
  font-size: 22px;
}

#jobDetail .btn-apply .fa {
  padding-right: 5px;
}

.popover,
.popover-title{
  border: 0;
  background: #f04124;
}
.popover-title {
  display: none !important;
}
.popover.top>.arrow:after{
  border-top-color: #f04124 !important;
}
.popover.right>.arrow:after {
  border-right-color: #f04124 !important;
}

.popover-content {
  /*text-transform: capitalize;*/
  font-family: 'Open Sans', 'Hanuman' !important;
  font-size: 13px;
}

form.share .form-group {
  padding: 0 20px;
}

.audio-description {
  border: 1px solid #999;
  /*padding: 20px 0;*/
  margin: 20px 0;
  border-radius: 5px;
}
.audio-description .audio {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 6px;
}
.audio-description .audio .fa {
  font-size: 38px;
}
.audio-description .playback{
  padding: 0;
  background: #fafafa;
  text-align: center;
}
.audio-description .playback audio{
  width: 98%;
  margin: 5px 0 -5px;
}

.applyAction {
  margin-top: 30px;
}

.fb-share-button-c {
  background: #3b5998;
  color: #fff;
}

.fb-share-button-c:hover,
.fb-share-button-c:focus {
  color: #fff;
  background: #253c6b;
}


.list-company-logo .thumbnail {
  max-height: 200px;
  height: 200px;
  min-height: 200px;
  /*background-color: #ccc;*/
  padding: 10px 15px;
}

.list-company-logo .thumbnail .companyName {
  padding: 14px 0;
}
.list-company-logo .thumbnail .caption {
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-company-logo .thumbnail .caption {
  margin-top: -5px;
  font-size: 16px;
}

.list-company-logo .companyLogo {
  /*height: 256px;
  width: auto;*/
  background-size: contain !important;
  height: 128px;
  width: auto;
  border-radius: 0;
  background-position: center !important;
}

.show_all_job {
  border-radius: 3px;
  /*background-color: #5369ae;*/
  /*color: #fff;*/
  /* border: 0; */
  /*border-color: rgba(255, 255, 255, 0);*/
}
/*.show_all_job:hover,
.show_all_job:active,
.show_all_job:active:hover,
.show_all_job:focus {
  color: #fff;
  background-color: #5369ae;
  border-color: rgba(255, 255, 255, 0.3);
}*/

.sectorContainer {
  margin-top: -10px;
  padding-top: 0;
  /*height: 270px;*/
  overflow: hidden;
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}
.sectorContainer.open {
  -webkit-transition: height 1s;
  -o-transition: height 1s;
  transition: height 1s;
}
.sectorContainer .sectorItem h3 {
  color: #566ab0;
}
.sectorContainer .sectorItem .list {
  /*padding-left: 10px;*/
  border-left: 5px solid rgba(83, 105, 174, 0.25);
  margin-left: 5px;
}

.sectorContainer .sectorItem .list a {
  display: block;
  padding-left: 10px;
  font-size: 16px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sectorContainer .sectorItem .list a:hover {
  background-color: rgba(83, 105, 174, 0.25);
}

.expandJob.chevron {
  padding: 5px 30px;
  border-radius: 3px;
}
.expandJob .fa-chevron-up {
  display: none;
}
.expandJob.open .fa-chevron-down {
  display: none;
}
.expandJob.open .fa-chevron-up  {
  display: inline-block;
}

.navbar .container-fluid {
  background-color: transparent;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}
.navbar-fade {
  /*background-color: rgba(255, 255, 255, 0.20);*/
  background-color: rgba(0, 0, 0, 0.4) !important;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.bpAjax-input select.form-control {
  font-size: 22px !important;
  height: 65px;
  padding-top: 5px;
  border-radius: 30px;
}
.bpAjax-input select.form-control option {
  font-size: 16px;
}
.bpAjax-info {
  margin-top: 20px;
  text-align: center;
}
.bpAjax-info .badge {
  font-size: 18px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.5);;
}

.bpAjax-input .btn-group {}
.bpAjax-input .btn-group .btn {
  font-size: 22px;
  color: #fff;
}
.bpAjax-input .btn-group .dropdown-menu li,
.bpAjax-input .btn-group .dropdown-menu li a {
  color: #000 !important;
}

.jobByLocationNotFound {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  color: #566ab0;
}
.jobByLocationNotFound .fa {
  color: #000;
}

#app-layout .container .row.bg2 .panel {
  border-radius: 10px;
}
#app-layout .container .row.bg2 .panel .panel-heading {
  border-radius: inherit !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.bplist-group .label {
  font-size: 12px;
  border-radius: 5px;
}
.bplist-group .list-group-item-text {
  padding-top: 5px;
}

.bplist-group .list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bplist-group .list-group-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bpAjax-spinner {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background-color: #5369ae;
  border: 1px solid #fff;
  padding: 5px 20px;
  border-radius: 10px;
}
.bpAjax-spinner .bpAjax-spinning {}
.bpAjax-spinner .bpAjax-spinning .loading {
  display: inline-block;
}
.bpAjax-spinner .msg {
  display: inline;
  color: #fff;
  font-size: 25px;
  margin-left: 10px;
}

.allofLists {
  margin-top: 13px;
}
.allofLists .list-group-item-heading {
  text-transform: capitalize;
  font-size: 22px;
}
.allofLists .fa {
  margin-right: 20px;
  width: 12px;
}
.allofLists .btn {
  margin-top: -2px;
}
.allofLists .label {
  margin-right: 5px;
  font-size: 14px !important;
  font-weight: normal;
}
.allofLists .compLogo {
  height: 80px;
  margin-right: 20px;
}
.allofLists strong,
.allofLists small {
  display: block;
}
.allofLists strong {
  padding-bottom: 12px;
}
.allofLists small {
  padding-bottom: 5px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jobsByCompanyList tr,
.jobsByCompanyList td {
  font-size: 18px !important;
}
/* Mobile CSS */

@media screen and (min-width: 320px) and (max-width: 480px)  {
  body {
    padding-top: 80px;
  }
  body.bgImage_g {
    background-attachment: scroll;
    background-size: cover;
    background-position: 80%;
  }
  #searchHome {
    padding: 0 0 !important;
  }
  #searchHome h1 {
    font-size: 25px;
  }
  #app-navbar-collapse .navbar-nav {
    padding: inherit !important;
  }
  #app-layout .navbar, #app-layout .navbar .container {
    min-height: 52px !important;
  }
  .bpAjax-input select.form-control {
    font-size: 15px !important;
    height: 42px;
    padding-top: 5px;
    border-radius: 30px;
  }

  #app-layout .container .row.bg2 .panel .panel-heading {
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
  }
  #app-layout .container .row.bg2 .panel .panel-body a {
    font-size: 18px;
    line-height: 32px;
  }
  #app-layout .container .row.bg2 .panel .panel-body a.thumbnail {
    line-height: normal;
    min-height: 200px;
  }

  .brand-img #Capa_1 {
    height: 65px !important;
  }
  .navbar .navbar-fade {
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
  .navbar-default .navbar-nav.navbar-left>li>a {
    margin-left: 0;
  }
  .navbar-default .navbar-nav li a,
  .navbar-default .navbar-nav .dropdown-menu li a, .navbar-default .navbar-nav .dropdown-menu,
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-nav > li > a:hover, .dropdown-menu > li > a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus, .dropdown-menu > li > a {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .navbar-default .navbar-nav .dropdown-menu li a, .navbar-default .navbar-nav .dropdown-menu {
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 0;
    border-bottom: 1px solid #cecece;
    /*box-shadow: 1px 0 5px #222;*/
  }
  #app-layout .navbar-header .navbar-toggle {
    margin-top: 20px;
    background-color: transparent;
    border: 0;
  }
  #app-layout .navbar-header .navbar-toggle.collapsed {

  }
  #app-layout .navbar-header .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }
  /*#app-layout .navbar-default .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }*/
  .sectorContainer {
    height: 100%;
  }

  .sectorContainer .panel-group.visible-xs {
    margin-bottom: 0;
  }

  #app-layout .container .row.bg2 .panel-body {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
  }

  .sectorContainer .panel-body .list ul {
    list-style: none;
    padding-left: 0;
  }
  #app-layout .container .row.bg2 .panel .panel-body .list li a {
    font-size: 14px;
    line-height: 20px;
  }

  .list-company-logo {
    padding-top: 15px;
  }

  .list-company-logo .thumbnail {
    max-height: 150px;
    height: 150px;
    min-height: 175px;
    /*background-color: #ccc;*/
    padding: 10px 15px;
  }
  .list-company-logo .thumbnail .companyName {
    padding: 18px 0;
  }
  .list-company-logo .thumbnail .caption {
    margin-top: -5px;
  }
  .frmLeftSearch {
    display: none;
  }
  .frmLeftSearch.open {
    display: block;
  }

  .searchControls .form-control {
    margin-bottom: 10px;
  }

  .bpAjax-spinner .msg {
    font-size: 12px;
  }

  .bpAjax-spinner .loading {
    width: 18px;
    height: 18px;
    margin-top: 5px;
  }

  .allofLists {
    margin-left: 0 !important;
    margin-right: 0 !important;
    /*padding-left: 0 !important;
    padding-right: 0 !important;*/
  }

  .allofLists .col-xs-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .allofLists .label {
    margin-right: 2px !important;
    font-size: 10px !important;
  }

  .allofLists .list-group-item-text .label:first-of-type {
    display: none;
  }
  .allofLists .bplist-group .list-group-item-text .label:first-of-type {
    display: inline;
  }

  .allofLists .fa {
    margin-right: 5px;
    width: 10px;
  }

  .allofLists small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
