@font-face {
    font-family: 'KhmerOSKoulen';
    src: url('../fonts/KhmerOSKoulen.eot');
    src: local('☺'), url('../fonts/KhmerOSKoulen.woff') format('woff'), url('../fonts/KhmerOSKoulen.ttf') format('truetype'), url('../fonts/KhmerOSKoulen.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhmerOSBattambang-Regular';
    src: url('../fonts/KhmerOSBattambang-Regular.eot');
    src: local('☺'), url('../fonts/KhmerOSBattambang-Regular.woff') format('woff'), url('../fonts/KhmerOSBattambang-Regular.ttf') format('truetype'), url('../fonts/KhmerOSBattambang-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.eot');
    src: local('☺'), url('../fonts/MinionPro-Regular.woff') format('woff'), url('../fonts/MinionPro-Regular.ttf') format('truetype'), url('../fonts/MinionPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KhmerOSBattambang-Bold';
    src: url('../fonts/KhmerOSBattambang-Bold.eot');
    src: local('☺'), url('../fonts/KhmerOSBattambang-Bold.woff') format('woff'), url('../fonts/KhmerOSBattambang-Bold.ttf') format('truetype'), url('../fonts/KhmerOSBattambang-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    /*font-family: KhmerOSBattambang-Regular, KhmerOSBattambang-Bold, KhmerOSKoulen;*/
    font-family: Verdana, KhmerOSBattambang-Regular;
    background: #FFFFFF;
    color: #5A6351;
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: Verdana, KhmerOSBattambang-Regular;
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-default{
    border: none;
}
.navbar-bg{
    /*background: #d76a1c;*/
}
.navbar-bg a{
    color: white !important;
}
.navbar-bg ul.dropdown-menu a{
    color: white !important;
}
.navbar-nav > .open > a{
    background: #e96202 !important;
}
.navbar-nav > .open > a:hover{
    background: #e96202 !important;
    color: black !important;
}
.dropdown-menu > li > a{
    background: #e96d14 !important;
}
.navbar-nav > li > a:hover, .dropdown-menu > li > a:hover {
    background: #e96202 !important;
}
.login-register{
    font-size: 18px;
}

.table{
    margin-top: 7px;
}

/*==== Account ====*/
.account-bg{
    background-color: white;
}
.footer-bg{
    color: black;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
}
.breadcrumb{
    border-radius: 0;
    margin-bottom: 13px;
}
.nav > li.language > a{
    display: inline-block;
    padding: 12px 6px 12px 6px;
}

.requredStar{
    color: #FF0000;
}

.photoViewIndex{
    margin: 0;
    padding: 0;
    height: 30px;
}
.companyHeader h3{
    padding: 10px;
    text-align: center;
    background-color: #337AB7;
    color: #FFFFFF;
}
.companyLogo{
    border-radius: 8px;
}
.profile-info{
    line-height: 1.8em;
}

.fieldset-table{
    padding-left: 15%;
    padding-right: 15%;
    margin: 0 auto;
}
.fieldset-table-post > .dl-horizontal{
    /*margin-bottom: 10px;*/
}

.cover-fieldset-table .fieldset-table{
    margin: 0 auto;
    max-width: 80%;
}

.divMoreExperience{
    border: solid 2px #DEDEDE;
    margin: 0 0 10px 0;
    padding: 20px 15px 5px 15px;
}

/*==== Home Page =====*/
.container #searchHome{
    background: #5086B2;
    padding: 10px 10px 30px 10px;
    color: #ffffff;
}

.container #searchHome span{
    font-size: 18px;
    padding: 0 7px 0 25px;
}

.container #searchHome .form-control{
    display: inline-block;
}
.container #searchHome button{
    width: 100%;
    margin: 4px 0;
}

.marginTop{
    margin-top: 15px;
}
.frmLeftSearch span{
    font-weight: bold;
    display: block;
    padding: 6px 0;
}
.frmLeftSearch button{
    width: 100%;
}
.noPadding .pagination{
    margin: 0;
}
/*===== Navbar ====*/
/*#app-layout .navbar{*/
/*min-height: 110px;*/
/*}*/
/*.container .navbar-header img{*/
/*height: 100px;*/
/*margin-top: 8px;*/
/*}*/
/*@media (min-width: 650px) {*/
/*#app-navbar-collapse .navbar-nav{*/
/*padding-top: 40px;*/
/*}*/
/*}*/
/*=====End Navbar ====*/
/*#app-layout .navbar-header .navbar-toggle{*/
/*margin-top: 60px;*/
/*}*/
.main-job-title{
    padding-left: 30px;
    padding-right: 10px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: -15px;
}
dl {
    margin-top: 0;
    margin-bottom: 13px;
}

.btn-orange {
    border: 1px solid #d07300;
    background: -moz-linear-gradient(#ffaf4b, #ff920a);
    background: -webkit-gradient(linear, left top, left bottom,from(#ffaf4b), to(#ff920a));
    background: #ff920a\0;
}
.p30 {
    padding-left: 30px;
    padding-right: 30px;
}
.noteSize {
    color: #ff5575;
}
div.col-md-2.padding0{
    padding:0;
}

.container .mainPic img.fondoPic{
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: 0;
    width: 100%;
    height: auto;
}

.regLogo{

}

.mainPic .spaceTopLogo {
    padding: 0px;
}

.box1{
    /*margin-top: 295px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background: #566ab0;
    /*background: #d76a1c;*/
    text-align: left;
}
@media (max-width: 650px) {
    .box1{
        margin-top: 55px;
    }
}
.box1 .boxKoulen{
    font-family: 'KhmerOSKoulen';
    font-size: 28px;
    padding: 15px;
}
.box1 .boxEN{
    font-size: 38px;
    font-weight: bold;
}

.box2{
    color: #FFFFFF;
    background: #d76a1c;
    padding: 10px;
}

.box2 .boxKoulen{
    font-family: 'KhmerOSKoulen';
    font-size: 24px;
    padding:15px;
    text-align: right;
    /*border-right: solid 2px #FFFFFF;*/
}
.box2 .boxEN{
    padding:20px 10px 10px 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.box3{
    padding: 25px 10px;
    border-bottom: solid 2px #d76a1c;
}
.box3 .boxbtbBold{
    font-family: 'KhmerOSBattambang-Bold';
    font-size: 16px;
    text-align: center;
    color: black;
}

.box3 .boxbtbBold span, .box3 .boxEN span{
    color: #d76a1c;
}

.box5kh span, .box5 span{
    color: white;
}

.box3 .boxEN{
    font-size: 13px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.box5{
    font-size: 27px;
    border: solid 2px #d76a1c;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    color: black;
    background-color: #d76a1c;
}
.box5kh{
    background-color: #d76a1c;
    font-family: 'KhmerOSKoulen';
    font-size: 18px;
    border: solid 2px #d76a1c;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
    color: black;
    line-height: 180%;
}

.aboutus{
    text-align: justify;
    font-size: 18px;
}

.aboutus h2{
  padding-bottom: 15px;
  border-bottom: solid #566ab0 2px;
  font-family: Verdana, KhmerOSBattambang-Bold;
}
.advLogo .thumbnail{
    margin: 30px 50px;
    border: none;
    border: 1px solid transparent;
}
.advLogo .thumbnail:hover {
  border: 1px solid #566ab0;
  border-radius: 2px;
}

.box5 a, .box5kh a{
    color: white;
    text-decoration: underline;
}

/*== Menu from left to right==*/
.navbar-right .dropdown-menu{
    left: 0;
}
.navbar-default .dropdown-menu{
    background-color: #D76A1C;
}
.navbar-bg ul.dropdown-menu li:first-child{
    margin-top: 8px;
}
