body{
    font-size: 18px;
    line-height: 1.9;

    background:  fixed url('../../images/header_bg_jobseeker_small.jpg');
    background-size: cover;
    background-position: m;
    background-repeat: no-repeat;
    background-color: transparent;
    color: #FFFFFF;
}

body .navbar-bg {
    background-color: transparent !important;
}

/*=== Nav Bar ===*/
.navbar-bg {
    background: #566ab0 none repeat scroll 0 0;
}

.navbar-bg a {
    color: white !important;
}

.navbar-default {
    border: none !important;
}

.navbar-default .navbar-nav li a {
    background-color: rgba(255, 255, 255, 0.1) !important;
    font-size: 18px;
}
.navbar-bg ul.dropdown-menu a {
    color: #000000 !important;
}

.navbar-default .navbar-nav .dropdown-menu li a, .navbar-default .navbar-nav .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.35) !important;
    width: 220px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar-default .navbar-nav .dropdown-menu li a:hover, .navbar-default .navbar-nav .dropdown-menu li a:focus {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-nav > li > a:hover, .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #fff !important;
}

/*=== Ajax select box ===*/
.bpAjax-input select.form-control {
    border-radius: 30px;
    font-size: 22px !important;
    height: 65px;
    padding-top: 5px;
}

/*=== Home ===*/
.home-info{
    padding: 130px 0 30px 0;
    text-align: center;
}

.bp4Emp{
    padding-top: 15px;
}

.sector-title div h3{
    border-bottom: 2px solid #202020;
}

/*=== Toggle Home Page ===*/
.position-title{
    display: none;
}

.sector .sector-title span{
    position: absolute;
    top: 26px;
    right: 14px;
}

@media screen and (max-width: 768px) {
    .sector-title div h3{
        border-radius: 12px;
        margin: 4px 0;
        padding: 3px;
        border: solid #202020 1px;
    }

    .sector .sector-title span{
        position: absolute;
        top: 9px;
        right: 20px;
    }
}

/*=== Apply job ===*/
.home-padding-top{
    padding: 130px 0 30px 0;
    color: #000000;
}

/*=== Footer ====*/
.footer-navbar{
    padding: 15px 0;
    background-color: #5369AE;
    color: white;
}

.footer-navbar h4{
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.footer-navbar ul{
    padding: 0;
}
.footer-navbar ul li{
    list-style: none;
}

.footer-navbar ul li a, .wrap-copy-right a{
    color: white;
    text-decoration: none;
}

.footer-navbar ul li a:hover, .wrap-copy-right a:hover{
    color: #97b0ff;
}

.wrap-copy-right{
    padding: 20px 0;
}

.footer-logo-kh, .footer-logo-en, .footer-logo-zh, .footer-logo-th{
    padding-bottom: 20px;
}
.footer-logo-kh img{
    height: 68px;
}

.footer-logo-en img{
    height: 33px;
}