.pale-color{
    color: #949494;
}
.bg-grey{
    background-color: #D7D7D7;
    margin: 10px 0px;
}
.bg-header-detail{
    margin: 10px auto;
    font-size: 24px;
}
.bg-btn-dark-grey{
    background-color: #AAAAAA;
    width: 100%;
    padding: 13px;
    margin: 2px 0;
    font-size: 24px;
}
.bg-btn-pink{
    background-color: #FF9AC4;
    width: 100%;
    padding: 13px;
    margin: 2px 0;
    font-size: 24px;
}
dl dt{
    font-weight: normal; !important;
}
.reduce-margin{
    margin: -15px 0;
}
.reduce-margin-b{
    margin-bottom: -15px;
    margin-top: 25px;
}
.reduce-margin-top{
    margin-top: -15px;
}
.border-b{
    border-bottom: solid 1px #AAAAAA;
}